<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<% if current_user.nil? %>
		<div class="login_button">
	        <form action = "/signup" method = "post" class = "">
	            <div class = "controls">
	                <div class = "form-group">
	                    <input class = "form-control input-lg" type = "text" name = "name" placeholder = "名前を入力"><br>
	                    <input class = "form-control input-lg" type = "password" name = "password" placeholder = "パスワードを入力"><br>
	                </div>
	                <div class = "form-group">
	                    <input class = "form-group" type = "submit" value = "ログイン" >
	                </div>
	            </div>
	        </form>
		</div>
	<% end %>
</section>

<section class="center-vertical mt-2">
	<h1>最新の投稿</h1>
	
	<% if Post.all===[] %>
		<%# TODO: ここで分岐 %>
		<p>投稿がありません</p>
	<% else %>
		<% Post.all.each do |_post| %>
			<div class="post center-vertical">
				<img src="<%= _post.img %>" width="125" height="125">
				<p>artist: <%= _post.artist %></p>
				<p>コメント: <%= _post.comment %></p>
				<p>投稿者: <%=User.find_by(id: _post.user_id).name %><br>
						<%#<a href="#">フォローする</a>
						<a href="#">">フォロー解除</a><br>%>
				</p>
				<p>いいねしたユーザー<br>
					<img src="" alt="user_image" width="40" height="40">
				</p>
				<a href="#">いいねする</a>
			</div>
		<% end %>
	<% end %>

	
</section>
