<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Music SNS</title>
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>
<body>
    <nav class="center-hrizontal">
        <ul class = "pt-3">
            <li class = "d-inline h5"><a href = "/">MUSICSNS</a></li>
       
        <% if !current_user.nil? %>
            <%#<li>こんにちは,<%#<%= current_user.name %><%#さん</li>%>
            <% unless current_user.img.empty? %>
                <li class = "d-inline"><a href="/home"><img src = "<%= current_user.img %>" alt="user_image" width="40" height="40"></a></li>
            <% end %>
            <li class = "d-inline"><a href="/search">search</a></li>
            <li class = "d-inline"><a href = "/signout">logout</a></li>
            
        <% else %>
            <li class = "d-inline"><a href = "/signup">新規登録</a></li>
        <% end %>
        </ul>
    </form>
</div>
        </div>
    </nav>
        
    <%= yield %>
</body>
</html>



