<div>
    <form action = "/tasks" method = "post">
        <div>
            <div>
                <input type = "text" name = "title" placeholder = "タイトル"><br>
                <!--<input type = "password" name = "password" placeholder = "パスワードを入力"><br>-->
            </div>
            <div>
                <input type = "submit" name = "登録" >
            </div>
        </div>
    </form>
</div>
