<div>
    <form action = "/tasks" method = "post">
        <div>
            <div>
                <input type = "text" name = "title" placeholder = "タイトル"><br>
                <input type = "text" name = "due_date" placeholder = "締め切り"><br>
            </div>
            <div>
                <input type = "submit" name = "登録" >
            </div>
        </div>
    </form>
</div>
