<div>
    <form action = "/signup" method = "post">
        <div>
            <div>
                <input type = "text" name = "name" placeholder = "名前を入力"><br>
                <input type = "password" name = "password" placeholder = "パスワードを入力"><br>
                <input type = "password" name = "password_confirmation" placeholder = "パスワードをもう一度入力"><br>
            </div>
            <div>
                <input type = "submit" name = "新規登録" >
            </div>
            
            
        </div>
    </form>
</div>





<!--<form action = "/signup" method = "post">-->
<!--    <input type = "text" name = "mail" placeholder = "Eメール"><br>-->
<!--    <input type = "password" name = "password" placeholder = "パスワード"><br>-->
<!--    <input type = "password" name = "password_confirmation" placeholder = "パスワードの確認"><br>-->
<!--    <input type = "submit" name = "新規登録" >-->
<!--</form>-->